body {
	width: 1070px;
	height: 750px;
	margin: 0;
	border: 2px solid black;
	border-radius: 10px;
	font-family: "Corbel" "Segoe UI" "Lucida Sans";
}

header {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}

header a {
	color: #00AEEF;
	font-size: 2em;
	font-weight: bold;
}

hr {
	border: 2px solid black;
	width: 95%;
}

legend {
	padding-left: 15px;
	padding-right: 15px;
	font-size: 1.5em
}

fieldset {
	font-size: 1.3em;
}


#catalogue {
	width: 710px;
	padding: 5px;
	margin: 5px;
	margin-left: 10px;
	border: 2px solid black;
	display: absolute;
}

.cell {
	display: inline;
	width: 310px;
	border: 2px solid  black;
	margin-bottom: 5px;
}

img {
	height: 120px;
}

#filter {
	position: relative;
	top: -570px;
	right: 20px;
	float: right;
	width: 290px;
	height: 539px;
	text-align: center;
	font-size: 1.7em;
}

input[type=range] {
	width: 230px;
}

.left {
	float: left;
}

.right {
	float: right;
}

fieldset>p {
	margin-top: 0px;
	margin-bottom: 0px;
	position: relative;
	top: -5px;
	display: inline-block;
	padding-left: 10px;
	font-size: 0.9em;
}

p.upper {
	top: -30px;
}

.invis {
	visibility: collapse;
}

